<!DOCTYPE html>
<html lang="ja" class="p-0 m-0">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwindcss -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="../style.css">
    <title>VARIESTA</title>
</head>
<body>
    <header>
        <h1>VARIESTA</h1>
        <div>
            <a href="create.html" class="btn">レシピ作成</a>
            <a href="recipes.html" class="btn">レシピ一覧</a>
        </div>
    </header>
    <main class="wrapper">
        <h2>レシピ一覧</h2>
        <table class="my-10">
            <thead>
                <tr>
                    <th>作成者</th>
                    <th>豆の量</th>
                    <th>湯温</th>
                    <th>湯量</th>
                    <th>注入時間</th>
                    <th>総合評価</th>
                    <th>ボディ</th>
                    <th>酸味</th>
                    <th>苦味</th>
                    <th>コメント</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="recipe in recipes">
                    <td>{{ recipe.name }}さん</td>
                    <td>{{ recipe.beans }} g</td>
                    <td>{{ recipe.temp }} ℃</td>
                    <td>
                        <p v-for="water in recipe.waters">{{ water }} g</p>
                    </td>
                    <td>
                        <p v-for="time in recipe.times">{{ time }} 秒</p>
                    </td>
                    <td>{{ recipe.eval }}</td>
                    <td>{{ recipe.body }}</td>
                    <td>{{ recipe.acidity }}</td>
                    <td>{{ recipe.bitterness }}</td>
                    <td>{{ recipe.note }}</td>
                </tr>
            </tbody>
        </table>
        <button id="submit">レシピを保存</button>
        <p class="text-sm leading-7 mt-3">DBの代わりとしてレシピファイルを保存できます。</p>
        <p class="text-sm leading-7">ダウンロードを許可してください。</p>
    </main>
    <footer>
        <p>© 2022 VARIESTA</p>
    </footer>
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- scripts -->
    <script src="../scripts/functions.js"></script>
    <script src="../scripts/recipes.js"></script>
</body>
</html>
