<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VARIESTA</title>
</head>
<body>
    <header>
        <h1>VARIESTA</h1>
        <a href="create.html">作成</a>
        <a href="timer.html">抽出</a>
        <a href="eval.html">評価</a>
        <a href="recipes.html">一覧</a>
    </header>
    <main>
        <h2>保存したレシピ</h2>
        <table>
            <thead>
                <tr>
                    <th>豆の量</th>
                    <th>湯温</th>
                    <th>抽出ステップ</th>
                    <th>総合評価</th>
                    <th>ボディ</th>
                    <th>酸味</th>
                    <th>苦味</th>
                    <th>コメント</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 g</td>
                    <td>92 ℃</td>
                    <td>
                        <ul>
                            <li>60 g : 20 秒</li>
                            <li>0 g : 40 秒</li>
                            <li>60 g : 10 秒</li>
                            <li>0 g : 50 秒</li>
                            <li>180 g : 30 秒</li>
                        </ul>
                    </td>
                    <td>3</td>
                    <td>5</td>
                    <td>2</td>
                    <td>4</td>
                    <td>美味しい。</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        <p>© 2022 VARIESTA</p>
    </footer>
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- script -->
    <script src="script.js"></script>
</body>
</html>
