<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VARIESTA</title>
</head>
<body>
    <header>
        <header>
            <h1>VARIESTA</h1>
        </header>
    <main>
        <p>00:00</p>
        <p>000 g</p>
        <p>スタート / リセット・スタート</p>
        <a id="to-eval">レシピを評価する</a>
        <a href="create.html">レシピの作成に戻る</a>
    </main>
    <footer>
        <p>© 2022 VARIESTA</p>
    </footer>
    <div id="counter">
        Counter: {{ counter }}
      </div>
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- script -->
    <script src="scripts/timer.js"></script>
</body>
</html>
