#main-visual{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

img {
    vertical-align:  bottom;
}

#main {
    float: left;
}

#main h2, #main h3 {
    margin-right: 30px;
}

.smallpic {
    float: right;
    margin: 0 30px 30px 20px;
}

#main p {
    padding-left: 5px;
}

#sidebar {
    float: right;
}

#sidebar h2 {
    padding: 10px;
    border: 0;
    border-bottom: 2px solid;
}

footer{
    clear: both;
}


#main-visual {
    text-align: left;
    overflow: hidden;
}

#main-visual ul {
    height: 375px;
    text-align: left;
    overflow: hidden;
    position: relative;
}

#main-visual ul li {
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    position: absolute;
}    
