h2 {
    clear: left;
}

h3 {
    padding: 10px;
    border-left: solid 3px;
    margin: 0 6px;
}

p {
    padding: 0 10px 10px 10px;
    height: 140px;
    border-left: solid 3px;
    margin: 0 6px;
}

.menu {
    padding: 0 0 20px 0;
}

.menu-card {
    float: left;
    width: 280px;
    text-align: center;
    padding: 10px;
    margin: 13px;
    
}

.menu-image {
    height: 200px;
    margin: 10px 0 20px 0;
    border-radius: 3px;
}
